<!DOCTYPE html>
<html>
<%= render 'layouts/default_header' %>
<body>
<%= render 'layouts/header' %>

<!--<header class="navbar navbar-fixed-top navbar-inverse">-->


<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
